.Footer{
    background-color: #48486e;
    /*margin: 5px;*/
    padding:25px;
    padding-left: 15%;
    color: white;
}
#footer-desc a{
color:grey;
text-decoration: none;
}
#social-logo img{
 margin-top:5px;
height: 30px;
/*float:right;*/
padding-left:10px; 
/*margin-bottom: 5px;*/
}